.SettingsCard {
    padding: 0;
}

.ExpirationOptionsButton {
    margin-left: 5px;
}

.item .sc-ion-label-ios-h.ExpirationOptionsLabel {
    display: flex;
    align-items: center;
}

.ExceptionOptionsAddOptionButton {
    margin: 16px 0 16px 20px;
}